ul{
    font-size: 12px;
    color: #666;
    width: 400px;
}
ul li{
    list-style: none;
    float: left;
    width: 80.5px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    border: 1px solid #e5e5e5;
    position: relative;
    margin: 6.75px;
}


li:before, li span, .arrowTwo:after, .arrowThree:after, li em{
    border: 1px solid transparent;
    border-left: 1px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: -1px;
    content: ' ';
    border-width:12.5px;
    border-color: transparent  transparent transparent #e5e5e5;
}

li:before, li span{
    right: -26px;
}
li span{
    border-color: transparent transparent transparent white;
    right: -25px;
}

.arrowOne{
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
}

.arrowOne span{
    border-color: transparent  transparent transparent #e5e5e5;
}


.arrowTwo:after, .arrowThree:after, li em{
    left: -1px;
}

.arrowTwo:after, .arrowThree:after{
    border-color: transparent transparent transparent white;
    left: -2px;
}

.arrowTwo{
    background-color: #108ee9;
    color: white;
    border: 1px solid #108ee9;
}

.arrowTwo span{
    border-color: transparent  transparent transparent #108ee9;
}

.arrowFour{
    width: 93px;
}

.arrowFour:before, .arrowFour span{
    left: -1px;
}

.arrowFour span{
    border-color: transparent transparent transparent white;
    left: -2px;
}

.arrowFive{
    margin-left: 293.75px;
    margin-top: 20px;
    width: 93px;
    height: 23px;
    border: 1px solid #d0021b;
    color: #d0021b;
}
.arrowFive:before{
    display: none;
}